#FirstThingOnPage {
  padding-top: 10rem;
  padding-left: 2.5rem;

}

#Blog {
  text-decoration: none;
}

#Blog,
a {
  text-decoration: none;
  color: black;
}

.blogBackground {
  opacity: 50%;
}

.blogText {
  padding-top: 15rem;
  padding-left: 2.5rem;
  max-width: 60%;
}

#Books {
  padding: 10rem;
}

.footer {
  border: 1px solid #000;
  width: 90%;
  margin-bottom: 2rem;
}

.Home {
  text-align: left;
  background-color: 210, 222, 300;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}

.navBarTab {
  left: 30px;
  top: 30px;
  right: 30px;
  display: block;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  /* bottom: auto; */
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #ffffff;
  overflow: none;
  padding-right: 1rem;
  position: fixed;
  margin-bottom: 20px;
}

.navBarTabBlog {
  left: 30px;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 200000;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #ffffff;
  overflow: none;
  padding-left: 1rem;
}

#navBtn {
  color: black;
  padding: 1rem;
  border: none;
  font-weight: 800;
}

p {
  line-height: 1;
  font-size: 15pt;
}

.posts {
  border: 1px solid black;
  margin: 1rem;
  width: 25rem;
  height: 15rem;
  padding: 1rem;
  overflow: hidden;
  display: flex;
}

.postContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.postPic {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.skillsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: space-between;
  justify-content: left;
  gap: 1rem;
  flex: 1 0 45%;
  margin: 2rem;
}

.skillLogos {
  max-width: 15%;
  max-height: auto;
}

.smallBody {
  font-size: small;
}

#socialIcons {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.underHeader {
  left: 30px;
  top: 125px;
  right: 30px;
  display: block;
  /* z-index: 200000; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  overflow: none;
  padding-right: 1rem;
}

.underHeaderLogo {
  height: 15px;
  vertical-align: text-bottom;
}